.container,
.fluid,
.xxl,
.xl,
.lg,
.md,
.sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 576px) {
    .sm, .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .md, .sm, .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .lg, .md, .sm, .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .xl, .lg, .md, .sm, .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .xxl, .xl, .lg, .md, .sm, .container {
      max-width: 1320px;
    }
  }